input {
    background-color: yellow;
}
#contenedor {
    background-color: peru;
}
.azulado {
    background-color: green;
}
td{
    background-color: pink;
}




#contenedorBoton {width:405px;margin:auto;}
#guardar, #cancelar {padding:15px; width: 130px; float: left;
color: white; border-radius: 40px; background: rgb(202, 60, 60);}
#adelante:hover, #atras:hover {background: rgb(66, 184, 221);}