section {
    position: relative;
    display: block;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 5px solid #F73913;
    background-color: #F7CAA3;
    height: 100px;
    width: 80%;
    margin: auto;
    text-align: center;
}

input {
    position: relative;
    display: block;
    margin: auto;
    /* margin-top: 15px; */
    background-color: #BCD2EE;
}

#datos {
    position: relative;
    display: block;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 5px solid #F73913;
    background-color: #F7CAA3;
    height: 600px;
    width: 80%;
    overflow: auto;
    margin: auto;
    text-align: center;
}

#contenedor {
    background-color: peru;
}

td {
    background-color: pink;
}