<!doctype html>
<!-- esto lo busco en la w3school http://www.w3schools.com/html/ -->
<html>

<head>
    <link rel="stylesheet" href="css/estilo.css" type="text/css" />
    <meta charset="utf-8">
</head>

<body>
    <section>
        <!-- input type='button' value='Crear la Base de Datos' onclick='BASE.crearBase();' / -->
        <input type='button' value='Crear la Base de Datos' id='btnCrearBase' />
        <!-- input type='button' value='Ejecutar' onclick='BASE.cargar();' / -->
        <input type='text' id='entrada' placeholder='Escriba un Contenido' />
        <input type='button' value='Insertar' id='btnInsertar' />
        <input type='button' value='Consultar' id='btnConsultar' />
    </section>

    <section id="datos">
        <header>
            <h2>Título de la sección Bases de Datos en el Navegador</h2></header>
        <input type='button' value='Ver Planilla' id='btnConsultarHTML' />
        <div id='contenedor'>
            Contenido:
        </div>
    </section>


    <script type='template' id='templateVistaProductos'>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Eliminar</th>
                <th>Actualizar</th>
            </tr>
            {{#productos}}
            <tr>
                <td><input type='text' id='prod_nombre_{{prod_id}}' value='{{prod_nombre}}' /> </td>
                <td><input type='number' id='prod_precio_{{prod_id}}' value='{{prod_precio}}' /> </td>
                <td><input type='button' onclick='BASE.borrar({{prod_id}});' value='Borrar' /> </td>
                <td><input type='button' onclick='BASE.modificar({{prod_id}});' value='Modificar' /></td>
            </tr>
            {{/productos}}
        </table>
    </script>

    <script src="js/mustache.js"></script>
    <script src="js/alasql.js"></script>
    <!-- script src="https://cdn.jsdelivr.net/alasql/0.2/alasql.min.js"></script -->
    <script src="js/labase.js"></script>
</body>

</html>