input
{
    background-color: yellow;
}


#contenedor
{
    background-color: black;
    font-family: cursive;
    color: white;
}

#contenedor2
{
    background-color: red;
    font-family: arial;
    color: yellow;
}






.fondo
{
    
    background-color: blue;
    ;
}

